*,
::before,
::after {
  box-sizing: border-box;
}

.logo {
  margin: 0 1rem;
}

li{
  width: 100%;
  list-style-type: none;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:white; 
	background-color:#ededed;
	border-radius:30px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#010303;
	font-family:Arial;
	font-size:17px;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  margin-top: 15px;
  margin-left: 20px;
}

.bi-plus-lg{
  color: red;
}

.navbar{
  margin-top: 15px;
  border: 1px solid rgb(236, 233, 233) ;
}

.listaMail{
  margin-top: 20px;
  border-bottom: 1px solid silver;
}
#contenedorButton{
  display: inline;
}

.navbar__item{
  margin-top: 15px;
  text-decoration:none;
  list-style-type: none;
  color: rgb(82, 78, 78) ;
  font-weight: bold;
  font-size: medium;
}
.bi-forward-fill, .bi-trash , .bi-info-circle-fill, .bi-trash2 , .bi-star-fill , .bi-bookmark  {
  color: rgb(15, 10, 10) ;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: large;
  
}

/* iconos inbox etc*/

.bi-inbox-fill, .bi-arrow-right-circle-fill, .fa-paper-plane, .fa-trash , .fa-exclamation-circle, .fa-star{
  color: rgb(12, 12, 12);
  font-size: large;
  float: left;
  
}

.bi-search , .bi-sliders , .bi-question-circle , .bi-gear, .bi-grid-3x3-gap{
  font-size: 0.7em;
  color: hsl(0, 2%, 31%);
  align-items: center;
 
}

#recib{
  color: rgb(255, 0, 0);
}
.fa-sync-alt{
  color: blue;
  margin-top: 5px;
}

a:active {
  color: rgb(0, 0, 0);
}

h2, h3{
  font-size: small;
  font-weight: bold;
  margin-top: 15px;
}
h2, h3, img {
  margin-left: 20px;
}
body {
  margin: 0;
  font-family: sans-serif;
}
button {
  cursor: pointer;
  border-width: 0;
  background-color: #0000;
  
}
.navbar1 {
  display: flex;
  align-items: center;
  column-gap: 10%;
  background-color: #0000;
  color: #999;
  font-size: 2em;
  padding: 0.5rem;
  border: 1px solid rgb(236, 233, 233) ;
}

.header__button{
    margin-left: 15px;
    margin-right: 15px;
    color: black;
}

.header__section {
  display: flex;
}

.filter {
  position: relative;
  display: flex;
}

.filter__button {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 1em;
}

.filter__button--right {
  right: 0;
}

.header__section--right {
  margin-left: auto;
}

.listaButtons{
  cursor: pointer;
  background:rgb(255, 255, 255);
}

.filter__input {
  height: 1.5em;
  width: 20em;
  border-width: 0;
  background-color: #ddd;
  border-radius: 2em;
  font-size: inherit;
  
}


a{
text-decoration: none;
color:black;
}

.listaButtons:hover{
  border-radius: 3px;
  background-color: rgb(233, 232, 232);
}


.imgPerfil{
  border-radius: 50%;
  border: 1px solid ;
  width: 30px;
  height: 30px;
}
.imgPerfilH{
  border-radius: 50%;
  border: 1px solid ;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.hangouts{
  border: 1px solid rgb(236, 233, 233) ;
}

/* TODO EL MODAL*/
/* The Modal (bg) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Modal Content/Box */
.container{
  margin-top: 10%;
  border: 1px solid;
  padding: 0;
  width: 70%;
  border-radius: 10px;
  overflow: hidden;
  background: gray;
  }

p{
  margin-top: 14px;
}
.asuntoMsgMail {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__section1{
  background-color: #202124;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(51, 51, 51);
}
.container1{
  width: 100%;
}
.containerFooter{
  align-items: center;
}

.containerIconFooter{
  margin-bottom: 2px;
}

#btnF{
  float: left;
  margin-right: 14px;
  color: silver;}
#btn{
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 1px;
  float: left;
}
#f2{
  float: right;
  margin-right: 14px;
  color: silver;
}
/*el boton cierre */
.close{
    color: rgb(236, 230, 230);
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;
}
.close1 {
  color: rgb(236, 230, 230);
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  
}

/* CIERRE DE TODO EL MODAL*/