.marco-padre{
  border: 1px solid red;
}
.marco-hijo{
  border: 1px solid red;
}
li{
  list-style: none;
}
.nombreEmail, .asuntoMsgMail{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.listaMail{
  padding: 2px 0px;
  background-color: #f1f1f1;
  border-bottom: 1px solid silver;
}